@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons.ttf?5d61a58645c6edaad980c1c20de458b3") format("truetype"),
url("../public/fonts/icons.woff?5d61a58645c6edaad980c1c20de458b3") format("woff"),
url("../public/fonts/icons.woff2?5d61a58645c6edaad980c1c20de458b3") format("woff2"),
url("../public/fonts/icons.svg?5d61a58645c6edaad980c1c20de458b3#icons") format("svg"),
url("../public/fonts/icons.eot?5d61a58645c6edaad980c1c20de458b3#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-wishlist:before {
    content: "\f102";
}
.font.icon-user:before {
    content: "\f103";
}
.font.icon-twitter:before {
    content: "\f104";
}
.font.icon-search:before {
    content: "\f105";
}
.font.icon-right:before {
    content: "\f106";
}
.font.icon-person:before {
    content: "\f107";
}
.font.icon-left:before {
    content: "\f108";
}
.font.icon-instagram:before {
    content: "\f109";
}
.font.icon-heart:before {
    content: "\f10a";
}
.font.icon-heart-filled:before {
    content: "\f10b";
}
.font.icon-facebook:before {
    content: "\f10c";
}
.font.icon-down:before {
    content: "\f10d";
}
.font.icon-bag:before {
    content: "\f10e";
}
.font.icon-bag-filled:before {
    content: "\f10f";
}
