@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons.ttf?025c85a5ab2fbabbca0cf778b8d3e7f7") format("truetype"),
url("../public/fonts/icons.woff?025c85a5ab2fbabbca0cf778b8d3e7f7") format("woff"),
url("../public/fonts/icons.woff2?025c85a5ab2fbabbca0cf778b8d3e7f7") format("woff2"),
url("../public/fonts/icons.svg?025c85a5ab2fbabbca0cf778b8d3e7f7#icons") format("svg"),
url("../public/fonts/icons.eot?025c85a5ab2fbabbca0cf778b8d3e7f7#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-wishlist:before {
    content: "\f102";
}
.font.icon-twitter:before {
    content: "\f103";
}
.font.icon-person:before {
    content: "\f104";
}
.font.icon-instagram:before {
    content: "\f105";
}
.font.icon-facebook:before {
    content: "\f106";
}
.font.icon-down:before {
    content: "\f107";
}
.font.icon-bag:before {
    content: "\f108";
}
