@import '@styles/partials/bootstrap/bootstrap';
@import '@styles/partials/bootstrap/bootstrap-overrides';
@import '@styles/partials/slick';
@import '@styles/icons.scss';

html,
head,
body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
figure,
img {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}
