@import '@styles/partials/variables';
@import '@styles/partials/mixins';

.cardWrapper {
    @include toRem(height, 400);
    width: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center center;

    h3 {
        @include toRem(max-width, 200);
        font-size: 2rem;
        text-align: center;
        font-weight: $bold;
        margin-bottom: 0.75rem;
    }

    a {
        font-weight: $medium;
        text-decoration: underline;
        @include toRem(text-decoration-thickness, 2);

        &:hover {
            text-decoration: none;
        }
    }
}
