@import '@styles/partials/variables';
@import '@styles/partials/mixins';

.cardWrapper {
    width: 100%;
    cursor: pointer;
    display: block;

    figure {
        width: 100%;
        @include toRem(height, 360);
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;

        figcaption {
            position: absolute;
            left: 0;
            top: 1rem;
            background-color: $brandColor;
            width: 2.5rem;
            height: 1.25rem;
            color: $white;
            padding: 0.25rem;
            font-size: 0.75rem;
            line-height: 1;
            text-align: right;
        }

        img {
            width: 100%;
        }
    }

    .productTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1rem;
            font-weight: $medium;
        }

        :global(.icon-heart-filled) {
            color: $brandColor;
        }
    }

    span {
        display: inline-block;
        font-size: 1rem;
    }

    .originalPrice {
        margin-left: 0.25rem;
        text-decoration: line-through;
        color: $red;
    }
}
