@import '@styles/partials/variables';

.carouselWrap {
    position: relative;

    &:hover {
        :global(.slick-arrow) {
            display: flex !important;

            &:global(.slick-disabled) {
                display: none !important;
            }
        }
    }

    :global(.slick-list) {
        margin: 0 -0.625rem;
    }

    :global(.slick-slide) {
        padding: 0 0.625rem;
    }

    :global(.slick-arrow) {
        width: 3rem;
        height: 3rem;
        background-color: $arrowBg;
        border-radius: 50%;
        display: none !important;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 1;
        cursor: pointer;

        &:global(.slick-next) {
            right: 1.25rem;
        }

        &:global(.slick-prev) {
            left: 1.25rem;
        }

        &:global(.slick-disabled) {
            display: none !important;
        }

        i {
            font-size: 1rem;
        }
    }
}
