//breakpoints
$sm: 37.5rem;
$md: 48rem;
$lg: 62rem;
$xlg: 64rem;
$xxlg: 87.5rem;

//font wiehgts
$bold: 700;
$medium: 500;
$normal: 400;
$light: 300;

//colors
$brandColor: #c32929;
$white: #fff;
$black: #000;
$borderColor: #e2e2e2;
$color222: #222;
$color35: #353535;
$color5c: #5c5c5c;
$fadedBorder: #ffffff26;
$color76: #767676;
$arrowBg: #ffffffd4;
$red: #dc3545;
$color666: #666;
$lightBg: #f3f3f3;
$disabledBg: #eee;
$headerShadow: #8c98a426;
$star: #fdcc0d;
$color73: #737373;
$color70: #707070;
$color333: #333;
$green: #1cae49;
