@import '@styles/partials/variables';
@import '@styles/partials/mixins';

.listWrapper {
    li {
        display: flex;
        column-gap: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.063rem solid $borderColor;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        .details {
            flex: 1;
        }

        h5 {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 500;
        }

        span {
            display: block;
            color: $color70;
        }

        .customRadio {
            @include toRem(margin-top, 3);
            height: max-content;
        }
    }
}
