@import '@styles/partials/variables';
@import '@styles/partials/mixins';

.footerWrapper {
    padding: 5rem 0 4rem;
    background-color: $color222;

    .newsletterForm {
        @include toRem(max-width, 720);
        margin: 0 auto 4rem;

        h3 {
            @include toRem(font-size, 26);
            @include toRem(margin-bottom, 18);
            text-align: center;
            color: $white;
        }

        p {
            @include toRem(margin-bottom, 24);
            text-align: center;
            color: $white;
        }

        form {
            column-gap: 1.25rem;

            .customInput {
                flex: 1;

                input {
                    background-color: $color35;
                    padding: 0.75rem 1rem;
                    color: $white;
                    border: unset;
                    border-radius: unset;

                    &::placeholder {
                        color: $white;
                    }
                }
            }

            button {
                @include toRem(width, 132);
                @include toRem(height, 48);
                border-radius: 0;
                border: unset;
                text-transform: uppercase;
                background-color: $color5c;
            }
        }
    }

    .siteSummary {
        display: flex;
        column-gap: 1.25rem;

        .summaryCol {
            width: 20%;

            &.info {
                a {
                    display: inline-block;
                    margin-bottom: 2.25rem;
                }

                p {
                    color: $white;
                    font-size: 0.875rem;

                    &:not(:last-child) {
                        margin-bottom: 0.625rem;
                    }
                }
            }

            &.quickLinks {
                h5 {
                    font-size: 1rem;
                    color: $white;
                    margin-bottom: 1.875rem;
                }

                li {
                    overflow: hidden;

                    &:not(:last-child) {
                        margin-bottom: 0.875rem;
                    }

                    a {
                        font-size: 0.875rem;
                        color: $white;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            @include toRem(top, 18);
                            left: -2rem;
                            width: 2rem;
                            height: 0.063rem;
                            background-color: $white;
                            border-radius: 0.5rem;
                            transition: 0.3s all ease;
                        }

                        &:hover {
                            &::after {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slimFooter {
    border-top: 0.063rem solid $fadedBorder;
    padding: 1rem 0;
    background-color: $color222;

    span {
        color: $white;
        font-size: 0.875rem;
    }

    .socialIcons {
        column-gap: 0.5rem;

        a {
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            color: $white;
            font-size: 0.875rem;

            &:hover {
                color: $color76;
            }
        }
    }
}
