@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons.ttf?e083764fa48c2796e34cf0a304cb33f8") format("truetype"),
url("../public/fonts/icons.woff?e083764fa48c2796e34cf0a304cb33f8") format("woff"),
url("../public/fonts/icons.woff2?e083764fa48c2796e34cf0a304cb33f8") format("woff2"),
url("../public/fonts/icons.svg?e083764fa48c2796e34cf0a304cb33f8#icons") format("svg"),
url("../public/fonts/icons.eot?e083764fa48c2796e34cf0a304cb33f8#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-wishlist:before {
    content: "\f102";
}
.font.icon-user:before {
    content: "\f103";
}
.font.icon-twitter:before {
    content: "\f104";
}
.font.icon-tick:before {
    content: "\f105";
}
.font.icon-search:before {
    content: "\f106";
}
.font.icon-right:before {
    content: "\f107";
}
.font.icon-person:before {
    content: "\f108";
}
.font.icon-logout:before {
    content: "\f109";
}
.font.icon-left:before {
    content: "\f10a";
}
.font.icon-instagram:before {
    content: "\f10b";
}
.font.icon-heart:before {
    content: "\f10c";
}
.font.icon-heart-filled:before {
    content: "\f10d";
}
.font.icon-facebook:before {
    content: "\f10e";
}
.font.icon-down:before {
    content: "\f10f";
}
.font.icon-cross:before {
    content: "\f110";
}
.font.icon-bag:before {
    content: "\f111";
}
.font.icon-bag-filled:before {
    content: "\f112";
}
