@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons.ttf?d01e09d145c8987506e574c19379379c") format("truetype"),
url("../public/fonts/icons.woff?d01e09d145c8987506e574c19379379c") format("woff"),
url("../public/fonts/icons.woff2?d01e09d145c8987506e574c19379379c") format("woff2"),
url("../public/fonts/icons.svg?d01e09d145c8987506e574c19379379c#icons") format("svg"),
url("../public/fonts/icons.eot?d01e09d145c8987506e574c19379379c#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-wishlist:before {
    content: "\f102";
}
.font.icon-wallet:before {
    content: "\f103";
}
.font.icon-user:before {
    content: "\f104";
}
.font.icon-twitter:before {
    content: "\f105";
}
.font.icon-tick:before {
    content: "\f106";
}
.font.icon-star:before {
    content: "\f107";
}
.font.icon-star-half:before {
    content: "\f108";
}
.font.icon-star-filled:before {
    content: "\f109";
}
.font.icon-search:before {
    content: "\f10a";
}
.font.icon-right:before {
    content: "\f10b";
}
.font.icon-replace:before {
    content: "\f10c";
}
.font.icon-person:before {
    content: "\f10d";
}
.font.icon-logout:before {
    content: "\f10e";
}
.font.icon-left:before {
    content: "\f10f";
}
.font.icon-instagram:before {
    content: "\f110";
}
.font.icon-heart:before {
    content: "\f111";
}
.font.icon-heart-filled:before {
    content: "\f112";
}
.font.icon-facebook:before {
    content: "\f113";
}
.font.icon-down:before {
    content: "\f114";
}
.font.icon-delivery:before {
    content: "\f115";
}
.font.icon-delete:before {
    content: "\f116";
}
.font.icon-cross:before {
    content: "\f117";
}
.font.icon-bag:before {
    content: "\f118";
}
.font.icon-bag-filled:before {
    content: "\f119";
}
