@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons.ttf?e37e5e3f36cf9fd906805603ebf3ed27") format("truetype"),
url("../public/fonts/icons.woff?e37e5e3f36cf9fd906805603ebf3ed27") format("woff"),
url("../public/fonts/icons.woff2?e37e5e3f36cf9fd906805603ebf3ed27") format("woff2"),
url("../public/fonts/icons.svg?e37e5e3f36cf9fd906805603ebf3ed27#icons") format("svg"),
url("../public/fonts/icons.eot?e37e5e3f36cf9fd906805603ebf3ed27#iefix") format("embedded-opentype");
}

.font:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font.icon-youtube:before {
    content: "\f101";
}
.font.icon-wishlist:before {
    content: "\f102";
}
.font.icon-wallet:before {
    content: "\f103";
}
.font.icon-user:before {
    content: "\f104";
}
.font.icon-twitter:before {
    content: "\f105";
}
.font.icon-tick:before {
    content: "\f106";
}
.font.icon-star:before {
    content: "\f107";
}
.font.icon-star-solid:before {
    content: "\f108";
}
.font.icon-star-half:before {
    content: "\f109";
}
.font.icon-star-filled:before {
    content: "\f10a";
}
.font.icon-search:before {
    content: "\f10b";
}
.font.icon-right:before {
    content: "\f10c";
}
.font.icon-replace:before {
    content: "\f10d";
}
.font.icon-person:before {
    content: "\f10e";
}
.font.icon-logout:before {
    content: "\f10f";
}
.font.icon-left:before {
    content: "\f110";
}
.font.icon-instagram:before {
    content: "\f111";
}
.font.icon-heart:before {
    content: "\f112";
}
.font.icon-heart-filled:before {
    content: "\f113";
}
.font.icon-facebook:before {
    content: "\f114";
}
.font.icon-eye:before {
    content: "\f115";
}
.font.icon-eye-slash:before {
    content: "\f116";
}
.font.icon-down:before {
    content: "\f117";
}
.font.icon-delivery:before {
    content: "\f118";
}
.font.icon-delete:before {
    content: "\f119";
}
.font.icon-cross:before {
    content: "\f11a";
}
.font.icon-copy:before {
    content: "\f11b";
}
.font.icon-calendar-days:before {
    content: "\f11c";
}
.font.icon-bag:before {
    content: "\f11d";
}
.font.icon-bag-filled:before {
    content: "\f11e";
}
.font.icon-arrow-right:before {
    content: "\f11f";
}
.font.icon-arrow-left:before {
    content: "\f120";
}
